<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Post-id</key>
		<string>ar-1</string>
		<key>Post-type</key>
		<string>Standart</string>
		<key>Title</key>
		<string>Herzlich Willkommen in Calpe, Spanien!</string>
		<key>Body</key>
		<string>Unsere charmante Bungalow ist eine Wohnung im Erdgeschoss mit direktem Zugang zu den Parkplätzen und Swimmingpools. Es ist in der Nähe von Kiefernwald und weniger als 2 km Entfernung zum zentralen Strand. Kleine private Gemeinschaft, 2 Pools, Parkplatz, A / C, Heizung, Grill, WiFi.</string>
		<key>Image-name</key>
		<string>photoHouse</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-2</string>
		<key>Post-type</key>
		<string>TitledParagraph</string>
		<key>Title</key>
		<string>Der Check-In ist flexibel</string>
		<key>Body</key>
		<string>Wenn unsere bisherigen Gäste die Wohnung am selben Tag verlassen, wird es einige Zeit dauern, um die Wohnung zu bereiten. In diesem Fall kann Ihr Check-in nur nach 14:00 Uhr sein. Bitte rufen Sie 20-30 Minuten vor Ihrer Ankunft in Calpe Elena (+34 693 777 099) an. Es wird nützlich sein, wenn Sie uns die ungefähre Zeit Ihrer Ankunft oder Ihre Flugnummer angeben.</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-3</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>Um die Schlüssel zu der Wohnung zu bekommen, rufen Sie bitte mindestens 20 Minuten vor der Ankunft den Hausverwalter an unter der Telnr.:</string>
		<key>Button-text</key>
		<string>+34 693 777 099</string>
		<key>Action-id</key>
		<string>call-elena</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-4</string>
		<key>Post-type</key>
		<string>TitledImage</string>
		<key>Title</key>
		<string>Calpe, der Provinz Alicante</string>
		<key>Image-name</key>
		<string>photoTown</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-5</string>
		<key>Post-type</key>
		<string>TitledParagraph</string>
		<key>Title</key>
		<string>Die Adresse: 31F Partida Garduix, Calpe, Spain, 03710</string>
		<key>Body</key>
		<string>Wir sind 60 Minuten von Alicante International Airport und 80 Minuten vom Flughafen Valencia entfernt. In einigen Fällen wird die richtige Position des Hauses von den Navigationssystemen nicht gezeigt. Bitte halten Sie sich dann an die schriftliche Fahrtbeschreibung.</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-6</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>Verwenden Sie diese Koordinaten auf Ihr GPS-Navigator: 38.657705, 0.047746 </string>
		<key>Button-text</key>
		<string>ANWEISUNGEN</string>
		<key>Action-id</key>
		<string>show-route-section</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-7</string>
		<key>Post-type</key>
		<string>TitledImage</string>
		<key>Title</key>
		<string>Wohnanlage</string>
		<key>Image-name</key>
		<string>photoResidentalDE</string>
	</dict>
</array>
</plist>
