<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Every person using any of the community areas shall make proper use of the facilities, with consideration to health and safety, and due courtesy and respect to other users e.g. no excessive noise, boisterous or rude behavior.</string>
	<string>The swimming pool complex, its complimentary facilities and other community areas are reserved for the exclusive use and enjoyment of residents, their guests and tenants.</string>
	<string>The users of pool are obliged to take shower before entering the pool.</string>
	<string>Suitable attire should be worn at all times in the pools and complex.</string>
	<string>All children under the age of fourteen years are not allowed to enter the pool area only they have to be accompanied by an adult (over 18 years old).</string>
	<string>No person with, or possibly with, an infectious or communicable disease, skin eruption or open wound is allowed to use the pools.</string>
	<string>No pets are allowed in the communal areas, exempt to exit and enter the apartments from the parking and then only under control e.g. dogs must be on leads. Excessive pet noise will be investigated by the committee who may order the removal of the pet from the community.</string>
	<string>No breakable materials, objects or substances that might create a dangerous hazard, damage, or interfere with the safe operation of the pools, shall be allowed in the pool area.</string>
	<string>No ball games, cycling, skating or similar shall take place in the communal areas at any time.</string>
	<string>Radios, portable TV&apos;s, MP3 players or any other similar devices must not be operate in the communal areas except in conjunction with personal headphones.</string>
	<string>The swimming pools and barbecue area con only be used between 09.00am and midnight. Always leaving the area clean after using it. The sunshades must be closed. It the responsibility of the residents not of the Community.</string>
	<string>As Fase &quot;A&quot; is a residential community no commercial activities shall take place without the written permission of the Community committee.</string>
	<string>Parking of motor vehicles, trailers, motor cycles, mopeds, pedal cycles, boats etc. should only take place in the space allocated for the apartment. When all marked spaces are full vehicles must be parked on the street.</string>
	<string>Maintenance or buildings typo works should only be carried out on apartments on weekdays i.e. Monday to Saterday between 08.00am and 19.00pm and not at all on Sundays (Genuine emergencies excepted.)</string>
	<string>Be aware of unwanted noise in the apartments such as walking around in the apartment with noisy shoes, putting the music too loud etc.</string>
	<string>Personal things must be removed from the community areas (chairs, umbrella etc)</string>
</array>
</plist>
