<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Post-id</key>
		<string>ar-1</string>
		<key>Post-type</key>
		<string>Standart</string>
		<key>Title</key>
		<string>We hope you enjoyed your stay.</string>
		<key>Body</key>
		<string>On departure, we ask you to leave the apartment in good condition. Dishes must be washed, trash must be collected and thrown into street containers. If the apartment will be left in a bad state it can be charged 40 euros for extra cleaning.
</string>
		<key>Image-name</key>
		<string>photoDoor</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-2</string>
		<key>Post-type</key>
		<string>TitledParagraph</string>
		<key>Title</key>
		<string>Check-out time is by 11:00am</string>
		<key>Body</key>
		<string>If it will be possible, your check-out time can be extended. On the day of your departure you don&apos;t need to call Elena again. Instead, please leave the keys on the table (all 2 sets) and shut the door when you will leave. Thank you for choosing our apartment.</string>
	</dict>
</array>
</plist>
