<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Post-id</key>
		<string>ar-3</string>
		<key>Post-type</key>
		<string>PinnedMap</string>
		<key>Annotations</key>
		<array>
			<dict>
				<key>Icon-name</key>
				<string>iconHome</string>
				<key>Latitude</key>
				<string>38.657705</string>
				<key>Longitude</key>
				<string>0.0477460</string>
			</dict>
			<dict>
				<key>Icon-name</key>
				<string>wayPoint1</string>
				<key>Latitude</key>
				<string>38.645923</string>
				<key>Longitude</key>
				<string>0.0481070</string>
			</dict>
			<dict>
				<key>Icon-name</key>
				<string>wayPoint2</string>
				<key>Latitude</key>
				<string>38.650188</string>
				<key>Longitude</key>
				<string>0.0517120</string>
			</dict>
			<dict>
				<key>Icon-name</key>
				<string>wayPoint3</string>
				<key>Latitude</key>
				<string>38.655417</string>
				<key>Longitude</key>
				<string>0.049150</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-6</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>Use this coordinates with your GPS Navigator: 38.657705, 0.047746 </string>
		<key>Button-text</key>
		<string>GET THE ROUTE</string>
		<key>Action-id</key>
		<string>goto-route</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-3</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>To get the keys, please call Elena for 20-30 minutes before arrival</string>
		<key>Button-text</key>
		<string>+34 693 777 099</string>
		<key>Action-id</key>
		<string>call-elena</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-6</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>Use this coordinates with your GPS Navigator: 38.657705, 0.047746 </string>
		<key>Button-text</key>
		<string>ROUTING</string>
		<key>Action-id</key>
		<string>goto-route</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-3</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>To get the keys, please call Elena for 20-30 minutes before arrival</string>
		<key>Button-text</key>
		<string>+34 693 777 099</string>
		<key>Action-id</key>
		<string>call-elena</string>
	</dict>
	<dict>
		<key>Post-id</key>
		<string>ar-6</string>
		<key>Post-type</key>
		<string>TitledButton</string>
		<key>Title</key>
		<string>Use this coordinates with your GPS Navigator: 38.657705, 0.047746 </string>
		<key>Button-text</key>
		<string>ROUTING</string>
		<key>Action-id</key>
		<string>goto-route</string>
	</dict>
</array>
</plist>
