<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Находясь на общественной территории вы должны правильно использовать инвентарь, с учетом охраны здоровья и безопасности, проявлять вежливость и уважение к другим жителям (не шуметь, не допускать бурное и грубое поведение).</string>
	<string>Комплекс бассейнов, и другие общественные зоны доступны для эксклюзивного использования жителей, их гостей и арендаторов.</string>
	<string>Перед входом в бассейн необходимо принимать душ.</string>
	<string>Вы должны быть всегда в подходящей одежде у бассейна и на территории всего комплекса.</string>
	<string>Детям в возрасте до четырнадцати лет разрешается проходить в зону бассейнов только в сопровождении взрослого (старше 18 лет).</string>
	<string>Запрещается пользоваться бассейнами лицам с инфекционными, кожными заболеваниями, кожной сыпью или с открытой раной.</string>
	<string>В общественных местах не допускаются домашние животные. Исключая входы и выходы из апартаментов на парковку и только под контролем, например собаки должны быть на поводках . Чрезмерный шум от питомцев будет рассматриваться комитетом, который может настоять на запрете нахождения питомца на территории сообщества.</string>
	<string>В зону бассейнов не допускаются проносить бьющиеся материалы, предметы или вещества, которые могут создать опасность, привести к повреждению или помешают безопасной эксплуатации бассейнов.</string>
	<string>На общественных территориях в любое время не разрешаются игры с мячом, катание на велосипеде, скейтбординг и т.п.</string>
	<string>На общественной территории возможно использование радио, портативных телевизоров, MP3 плееров или любых других аналогичных устройств только в личных наушниках.</string>
	<string>Время пользования бассейнами и зоной барбекю ограничено с 9:00 утра и до полуночи. Всегда оставляйте общественную зону в чистоте после ее использования. Навесы должны быть закрыты. Это ответственность распространяется на жильцов, а не на Сообщество.</string>
	<string>Не разрешается коммерческая деятельность без письменного разрешения комитета Сообщества.</string>
	<string>Стоянка автомобилей, прицепов, мотоциклов, мопедов, велосипедов, лодок и т. п. может осуществляться только на парковочном месте, выделенным для апартаментов. Когда все отмеченные парковки заняты, транспортные средства должны быть припаркованы на улице.</string>
	<string>Техническое обслуживание или ремонт должны проводиться только в будние дни (с понедельника до субботы с 8:00 утра и до 19.00), полностью запрещены по воскресеньям (исключая возможные чрезвычайные ситуации).</string>
	<string>Избегайте нежелательного шума в квартирах, например, получаемого от перемещения по квартире в шумной обуви, прослушивания музыки слишком громко и т.д.</string>
	<string>Личные вещи должны быть убраны с общественной территории (стулья, зонтики и т.д.)</string>
</array>
</plist>
